
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="home">
   
    <div class="content">
        <div class="chart">
            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                [options]="doughnutChartOptions" [colors]="doughnutChartColor">
            </canvas>
        </div>
      
        <div class="card">
            <div class="card-icon">
              <i class="fas fa-chart-line"></i>  </div>
            <div class="card-content">
                <p class="card-title">Nombre total des projets</p>
                <p class="card-value">{{ totalProjets }}</p>
                
            </div>
        </div>
    
    <div class="card">
        <div class="card-icon">
          <i class="fas fa-book fa-4x"></i>           </div>
        <div class="card-content">
            <p class="card-title">Nombre total des cours</p>
            <p class="card-value">{{totalCours}}</p>
        </div>
    </div>
   
</div>
</div>

  
  