.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cart-area-inner {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cours-box {
    margin-top: 15%;
}
.home{
    padding: 35px;
    max-width: 80%;

}