<div class="coursdescriptionnonconncect-container">
  <div class="coursdescriptionnonconncect-coursdescriptionnonconncect">
    <div class="coursdescriptionnonconncect-header">
      <div class="coursdescriptionnonconncect-header1">
        <span class="coursdescriptionnonconncect-text">
          <span>NameApp</span>
        </span>
        <div class="coursdescriptionnonconncect-iconsheader">
          <button class="coursdescriptionnonconncect-chipiconbutton">
            <div class="coursdescriptionnonconncect-content">
              <span class="coursdescriptionnonconncect-text002">
                <span>Categorie</span>
              </span>
            </div>
            <img
              src
              alt="IconographieI186"
              class="coursdescriptionnonconncect-iconographie"
            />
          </button>
          <img
            src
            alt="IconographieI186"
            class="coursdescriptionnonconncect-iconographie01"
          />
          <img
            src
            alt="IconographieI186"
            class="coursdescriptionnonconncect-iconographie02"
          />
          <div class="coursdescriptionnonconncect-loginchip">
            <span class="coursdescriptionnonconncect-text004 Nunitobold14">
              <span>Me</span>
            </span>
            <img
              src
              alt="IconographieI186"
              class="coursdescriptionnonconncect-iconographie03"
            />
          </div>
        </div>
      </div>
      <span class="coursdescriptionnonconncect-text006">
        <span>NameApp</span>
      </span>
      <div class="coursdescriptionnonconncect-iconsheader1">
        <button class="coursdescriptionnonconncect-chipiconbutton1">
          <div class="coursdescriptionnonconncect-content01">
            <span class="coursdescriptionnonconncect-text008">
              <span>Categorie</span>
            </span>
          </div>
          <img
            src="/assets/external/iconographiei186-mdir.svg"
            alt="IconographieI186"
            class="coursdescriptionnonconncect-iconographie04"
          />
        </button>
        <img
          src="/assets/external/iconographiei186-82x.svg"
          alt="IconographieI186"
          class="coursdescriptionnonconncect-iconographie05"
        />
        <div class="coursdescriptionnonconncect-loginchip1">
          <span class="coursdescriptionnonconncect-text010 Nunitobold14">
            <span>Connexion</span>
          </span>
          <img
            src="/assets/external/iconographiei186-3kf8.svg"
            alt="IconographieI186"
            class="coursdescriptionnonconncect-iconographie06"
          />
        </div>
        <div class="coursdescriptionnonconncect-loginchip2">
          <span class="coursdescriptionnonconncect-text012 Nunitobold14">
            <span>S’inscrire</span>
          </span>
        </div>
      </div>
    </div>
    <div class="coursdescriptionnonconncect-frame32">
      <span class="coursdescriptionnonconncect-text014">
        <span>contenu du cours</span>
      </span>
      <div class="coursdescriptionnonconncect-frame321">
        <span class="coursdescriptionnonconncect-text016">#</span>
        <span class="coursdescriptionnonconncect-text017">
          <span>Sujet</span>
        </span>
        <span class="coursdescriptionnonconncect-text019">
          <span>Resume</span>
        </span>
        <span class="coursdescriptionnonconncect-text021">
          <span>Évaluation</span>
        </span>
        <div>
          <div class="coursdescriptionnonconncect-dropdownchapitres">
            <div class="coursdescriptionnonconncect--dtexttablesubtitle">
              <span class="coursdescriptionnonconncect-text023">
                <span>Chapitre 1</span>
              </span>
              <img
                src="/assets/external/iconographiei566-6ww7.svg"
                alt="IconographieI566"
                class="coursdescriptionnonconncect-iconographie07"
              />
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart">
              <span class="coursdescriptionnonconncect-text025">
                <span>Introduction python</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart01">
              <span class="coursdescriptionnonconncect-text027">
                <span>
                 {{cours.description}}
                </span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart02">
              <img
                src="/assets/external/iconographiei566-9bm.svg"
                alt="IconographieI566"
                class="coursdescriptionnonconncect-iconographie08"
              />
            </div>
          </div>
          <div class="coursdescriptionnonconncect-dropdownchapitres1">
            <div class="coursdescriptionnonconncect--dtexttablesubtitle1">
              <span class="coursdescriptionnonconncect-text029">
                <span>Chapitre 1</span>
              </span>
              <img
                src="/assets/external/iconographiei566-rn6.svg"
                alt="IconographieI566"
                class="coursdescriptionnonconncect-iconographie09"
              />
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart03">
              <span class="coursdescriptionnonconncect-text031">
                <span>Introduction python</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart04">
              <span class="coursdescriptionnonconncect-text033">
                <span>
                  {{cours.description}}
                </span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart05">
              <img
                src="/assets/external/iconographiei566-r8f4.svg"
                alt="IconographieI566"
                class="coursdescriptionnonconncect-iconographie10"
              />
            </div>
          </div>
          <div class="coursdescriptionnonconncect-dropdownchapitres2">
            <div class="coursdescriptionnonconncect--dtexttablesubtitle2">
              <span class="coursdescriptionnonconncect-text035">
                <span>Chapitre 2</span>
              </span>
              <img
                src="/assets/external/iconographiei198-99sl.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie11"
              />
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart06">
              <span class="coursdescriptionnonconncect-text037">
                <span>Les signaux</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart07">
              <span class="coursdescriptionnonconncect-text039">
                <span>
                 {{cours.description}}
                </span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart08">
              <img
                src="/assets/external/iconographiei198-5he5.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie12"
              />
            </div>
          </div>
          <div class="coursdescriptionnonconncect-dropdownchapitres3">
            <div class="coursdescriptionnonconncect--dtexttablesubtitle3">
              <span class="coursdescriptionnonconncect-text041">
                <span>Chapitre 3</span>
              </span>
              <img
                src="/assets/external/iconographiei198-75nc.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie13"
              />
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart09">
              <span class="coursdescriptionnonconncect-text043">
                <span>La “to do” list</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart10">
              <span class="coursdescriptionnonconncect-text045">
                <span>
                {{cours.description}}
                </span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart11">
              <img
                src="/assets/external/iconographiei198-kf2.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie14"
              />
            </div>
          </div>
          <div class="coursdescriptionnonconncect-dropdownchapitres4">
            <div class="coursdescriptionnonconncect--dtexttablesubtitle4">
              <span class="coursdescriptionnonconncect-text047">
                <span>Chapitre 3</span>
              </span>
              <img
                src="/assets/external/iconographiei198-js7e.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie15"
              />
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart12">
              <span class="coursdescriptionnonconncect-text049">
                <span>La récupération de données à partir du web</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart13">
              <span class="coursdescriptionnonconncect-text051">
                <span>
              {{cours.description}}
                </span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-tdtextstart14">
              <img
                src="/assets/external/iconographiei198-mh9.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie16"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="coursdescriptionnonconncect-text053">
      <span [innerHTML]="raw9sa0"></span>
    </span>
    <div class="coursdescriptionnonconncect-frame194">
      <span class="coursdescriptionnonconncect-text054">
        <span>objectifs</span>
      </span>
      <div class="coursdescriptionnonconncect--dtexticon">
        <span class="coursdescriptionnonconncect-text056">
          <span>Afficher plus</span>
        </span>
        <img
          src="/assets/external/iconographiei198-n62e.svg"
          alt="IconographieI198"
          class="coursdescriptionnonconncect-iconographie17"
        />
      </div>
      <span class="coursdescriptionnonconncect-text058 Nunitotextbase16">
        <span>
          <span>
            Cette formation est entièrement réalisée avec la version 3 de Python
            et régulièrement mise à jour.
          </span>
          <br />
          <span>Avec cette formation vous allez :</span>
          <br />
          <span></span>
          <br />
          <span>Apprendre Python dans le détail.</span>
          <br />
          <span>
            Apprendre des concepts avancés comme la programmation orientée objet
            et les environnements virtuels.
          </span>
          <br />
          <span>
            Utiliser Python pour réaliser différents types de projets (jeux,
            sites web, applications de bureau, scripts d&apos;automatisation,
            bot Discord...).
          </span>
          <br />
          <span>
            Découvrir les bonnes pratiques pour coder comme un professionnel
            (avec notamment les tests unitaires, les conventions à suivre,
            l&apos;organisation et la documentation du code).
          </span>
          <br />
          <span></span>
          <br />
          <span>
            Cette formation inclut les toutes dernières nouveautés du langage
            comme les f-string, la nouvelle syntaxe de l&apos;orienté objet et
            les derniers opérateurs de Python 3.10.
          </span>
        </span>
      </span>
    </div>
    <div class="coursdescriptionnonconncect-frame41">
      <span class="coursdescriptionnonconncect-text077 Nunitobold14">
        <span>
          Dernière mise à jour
          <span [innerHTML]="rawai7l"></span>
        </span>
      </span>
      <span class="coursdescriptionnonconncect-text079 Nunitobold14">
        <span>20/03.2023</span>
      </span>
      <div class="coursdescriptionnonconncect-courscard">
        <div class="coursdescriptionnonconncect-matimg"></div>
        <div class="coursdescriptionnonconncect-matcardtitle">
          <span class="coursdescriptionnonconncect-text081 Nunito16bold">
            <span>Python</span>
          </span>
        </div>
        <div>
          <div class="coursdescriptionnonconncect-matcardsubtitle">
            <span class="coursdescriptionnonconncect-text083 Nunitobold14">
              <span>Insy2s</span>
            </span>
            <div class="coursdescriptionnonconncect-matcardsubtitle01">
              <span class="coursdescriptionnonconncect-text085">
                <span>4.5</span>
              </span>
              <div class="coursdescriptionnonconncect-rating">
                <div class="coursdescriptionnonconncect-matrating">
                  <div class="coursdescriptionnonconncect-matbtn">
                    <span class="coursdescriptionnonconncect-text087">
                      <span>star</span>
                    </span>
                  </div>
                </div>
                <div class="coursdescriptionnonconncect-matrating01">
                  <div class="coursdescriptionnonconncect-matbtn01">
                    <span class="coursdescriptionnonconncect-text089">
                      <span>star</span>
                    </span>
                  </div>
                </div>
                <div class="coursdescriptionnonconncect-matrating02">
                  <div class="coursdescriptionnonconncect-matbtn02">
                    <span class="coursdescriptionnonconncect-text091">
                      <span>star</span>
                    </span>
                  </div>
                </div>
                <div class="coursdescriptionnonconncect-matrating03">
                  <div class="coursdescriptionnonconncect-matbtn03">
                    <span class="coursdescriptionnonconncect-text093">
                      <span>star</span>
                    </span>
                  </div>
                </div>
                <div class="coursdescriptionnonconncect-matbtn04">
                  <span class="coursdescriptionnonconncect-text095">
                    <span>star</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-frame12">
          <div class="coursdescriptionnonconncect-frame20">
            <img
              src="/assets/external/iconographie1912-m4jq.svg"
              alt="Iconographie1912"
              class="coursdescriptionnonconncect-iconographie18"
            />
            <span class="coursdescriptionnonconncect-text097 Nunitobold14">
              <span>16h</span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-chips">
            <span class="coursdescriptionnonconncect-text099">
              <span>DÉBUTANT</span>
            </span>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-frame13">
          <div class="coursdescriptionnonconncect-frame201">
            <img
              src="/assets/external/iconographie1912-tpz.svg"
              alt="Iconographie1912"
              class="coursdescriptionnonconncect-iconographie19"
            />
            <span class="coursdescriptionnonconncect-text101 Nunitobold14">
              <span>
                Resources téléchargeables
                <span [innerHTML]="rawsewm"></span>
              </span>
            </span>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-frame14">
          <div class="coursdescriptionnonconncect-frame202">
            <img
              src="/assets/external/iconographie1912-0ucqc.svg"
              alt="Iconographie1912"
              class="coursdescriptionnonconncect-iconographie20"
            />
            <span class="coursdescriptionnonconncect-text103 Nunitobold14">
              <span>35 vidéos</span>
            </span>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-frame15">
          <div class="coursdescriptionnonconncect-frame203">
            <img
              src="/assets/external/iconographie1912-i5w7.svg"
              alt="Iconographie1912"
              class="coursdescriptionnonconncect-iconographie21"
            />
            <span class="coursdescriptionnonconncect-text105 Nunitobold14">
              <span>Certificat d’achèvement</span>
            </span>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-matcardtext">
          <div class="coursdescriptionnonconncect-frame21">
            <img
              src="/assets/external/iconographie1912-qrbj.svg"
              alt="Iconographie1912"
              class="coursdescriptionnonconncect-iconographie22"
            />
            <span class="coursdescriptionnonconncect-text107">
              <span>€10</span>
            </span>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-matcardtext01">
          <button class="coursdescriptionnonconncect-mainbutton">
            <div class="coursdescriptionnonconncect-content02">
              <span class="coursdescriptionnonconncect-text109">
                <span>ajouter au panier</span>
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>
    <span class="coursdescriptionnonconncect-text111">
      <span>{{cours.nom}}</span>
    </span>
    
    <div class="coursdescriptionnonconncect-frame59">
      <span class="coursdescriptionnonconncect-text137">
        <span>Projets associés</span>
      </span>
      <button class="coursdescriptionnonconncect-mainbutton1">
        <div class="coursdescriptionnonconncect-content03">
          <span class="coursdescriptionnonconncect-text139">
            <span>Voir tous les projets</span>
          </span>
        </div>
      </button>
      <span class="coursdescriptionnonconncect-text141">
        <span>COURS SIMILAIRES</span>
      </span>
      <div class="coursdescriptionnonconncect-frame45">
        <div class="coursdescriptionnonconncect-projetcard">
          <div class="coursdescriptionnonconncect-media-textcontent">
            <div class="coursdescriptionnonconncect-header2">
              <div class="coursdescriptionnonconncect-content04">
                <div class="coursdescriptionnonconncect-text143">
                  <span class="coursdescriptionnonconncect-text144">
                    <span>PROJET COVOITURAGE</span>
                  </span>
                  <span
                    class="coursdescriptionnonconncect-text146 Nunito16bold"
                  >
                    <span>Développement</span>
                  </span>
                </div>
              </div>
              <div class="coursdescriptionnonconncect-frame74">
                <div class="coursdescriptionnonconncect-frame73">
                  <img
                    src="/assets/external/iconographiei198-fknp.svg"
                    alt="IconographieI198"
                    class="coursdescriptionnonconncect-iconographie23"
                  />
                </div>
                <span class="coursdescriptionnonconncect-text148 Nunitobold14">
                  <span>6 participants</span>
                </span>
              </div>
            </div>
            <div class="coursdescriptionnonconncect-media">
              <div class="coursdescriptionnonconncect-maskgroup">
                <img
                  src
                  alt="mediaI198"
                  class="coursdescriptionnonconncect-media1"
                />
                <img
                  src
                  alt="krzysztofhepnerox11ORH9vQunsplash1I198"
                  class="coursdescriptionnonconncect-krzysztofhepnerox11orh9v-qunsplash1"
                />
              </div>
            </div>
            <div class="coursdescriptionnonconncect-textcontent">
              <div class="coursdescriptionnonconncect-headline">
                <span class="coursdescriptionnonconncect-text150 Nunito16bold">
                  <span>
                    CRM app for booking
                    <span [innerHTML]="rawao8m"></span>
                  </span>
                </span>
              </div>
              <div class="coursdescriptionnonconncect-frame17">
                <div class="coursdescriptionnonconncect-headline1">
                  <span
                    class="coursdescriptionnonconncect-text152 Nunitobold14"
                  >
                    <span>HTML CSS JS API</span>
                  </span>
                </div>
                <div class="coursdescriptionnonconncect-chips1">
                  <span class="coursdescriptionnonconncect-text154">
                    <span>DÉBUTANT</span>
                  </span>
                </div>
              </div>
              <span
                class="coursdescriptionnonconncect-text156 Nunitotextbase16"
              >
                <span>
                  In this project, you&apos;ll integrate with the Dictionary API
                  to create a real-bookin application using the framework of
                  your preference. Additional tests include colour themes and
                  font selection.
                </span>
              </span>
              <div class="coursdescriptionnonconncect-actions">
                <button class="coursdescriptionnonconncect-secondarybutton">
                  <div class="coursdescriptionnonconncect-content05">
                    <span class="coursdescriptionnonconncect-text158">
                      <span>voir projet</span>
                    </span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-projetcard1">
          <div class="coursdescriptionnonconncect-media-textcontent1">
            <div class="coursdescriptionnonconncect-header3">
              <div class="coursdescriptionnonconncect-content06">
                <div class="coursdescriptionnonconncect-text160">
                  <span class="coursdescriptionnonconncect-text161">
                    <span>Créer un explorateur de fichiers</span>
                  </span>
                  <span
                    class="coursdescriptionnonconncect-text163 Nunito16bold"
                  >
                    <span>Programmation</span>
                  </span>
                </div>
              </div>
              <div class="coursdescriptionnonconncect-frame741">
                <div class="coursdescriptionnonconncect-frame731">
                  <img
                    src="/assets/external/iconographiei198-ntrk.svg"
                    alt="IconographieI198"
                    class="coursdescriptionnonconncect-iconographie24"
                  />
                </div>
                <span class="coursdescriptionnonconncect-text165 Nunitobold14">
                  <span>6 participants</span>
                </span>
              </div>
            </div>
            <div class="coursdescriptionnonconncect-media2">
              <div class="coursdescriptionnonconncect-maskgroup1">
                <img
                  src
                  alt="mediaI198"
                  class="coursdescriptionnonconncect-media3"
                />
                <img
                  src
                  alt="krzysztofhepnerox11ORH9vQunsplash1I198"
                  class="coursdescriptionnonconncect-krzysztofhepnerox11orh9v-qunsplash11"
                />
              </div>
            </div>
            <div class="coursdescriptionnonconncect-textcontent1">
              <div class="coursdescriptionnonconncect-headline2">
                <span class="coursdescriptionnonconncect-text167 Nunito16bold">
                  <span>Application de bureau</span>
                </span>
              </div>
              <div class="coursdescriptionnonconncect-frame171">
                <div class="coursdescriptionnonconncect-headline3">
                  <span
                    class="coursdescriptionnonconncect-text169 Nunitobold14"
                  >
                    <span>Python</span>
                  </span>
                </div>
                <div class="coursdescriptionnonconncect-chips2">
                  <span class="coursdescriptionnonconncect-text171">
                    <span>DÉBUTANT</span>
                  </span>
                </div>
              </div>
              <span
                class="coursdescriptionnonconncect-text173 Nunitotextbase16"
              >
                <span>
                  In this project, you&apos;ll integrate with the Dictionary API
                  to create a real-bookin application using the framework of
                  your preference. Additional tests include colour themes and
                  font selection.
                </span>
              </span>
              <div class="coursdescriptionnonconncect-actions1">
                <button class="coursdescriptionnonconncect-secondarybutton1">
                  <div class="coursdescriptionnonconncect-content07">
                    <span class="coursdescriptionnonconncect-text175">
                      <span>voir projet</span>
                    </span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="coursdescriptionnonconncect-frame30">
        <div class="coursdescriptionnonconncect-courscard1">
          <div class="coursdescriptionnonconncect-matimg1">
            <img
              src="/assets/external/iconographiei198-3ogi.svg"
              alt="IconographieI198"
              class="coursdescriptionnonconncect-iconographie25"
            />
          </div>
          <div class="coursdescriptionnonconncect-matcardtitle1">
            <span class="coursdescriptionnonconncect-text177 Nunito16bold">
              <span>Angular - Material Design</span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-frame111">
            <div class="coursdescriptionnonconncect-matcardsubtitle02">
              <span class="coursdescriptionnonconncect-text179 Nunitobold14">
                <span>Insy2s</span>
              </span>
              <div class="coursdescriptionnonconncect-matcardsubtitle03">
                <span class="coursdescriptionnonconncect-text181">
                  <span>4.5</span>
                </span>
                <div class="coursdescriptionnonconncect-rating1">
                  <div class="coursdescriptionnonconncect-matrating04">
                    <div class="coursdescriptionnonconncect-matbtn05">
                      <span class="coursdescriptionnonconncect-text183">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating05">
                    <div class="coursdescriptionnonconncect-matbtn06">
                      <span class="coursdescriptionnonconncect-text185">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating06">
                    <div class="coursdescriptionnonconncect-matbtn07">
                      <span class="coursdescriptionnonconncect-text187">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating07">
                    <div class="coursdescriptionnonconncect-matbtn08">
                      <span class="coursdescriptionnonconncect-text189">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matbtn09">
                    <span class="coursdescriptionnonconncect-text191">
                      <span>star</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-frame121">
            <div class="coursdescriptionnonconncect-frame204">
              <img
                src="/assets/external/iconographiei198-9qdk.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie26"
              />
              <span class="coursdescriptionnonconncect-text193 Nunitobold14">
                <span>16h</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-chips3">
              <span class="coursdescriptionnonconncect-text195">
                <span>DÉBUTANT</span>
              </span>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext02">
            <span class="coursdescriptionnonconncect-text197">
              <span>
                Create computer programs or build the app of your dreams, you
                need to know how to code in a programming language.
              </span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext03">
            <div class="coursdescriptionnonconncect-frame211">
              <img
                src="/assets/external/iconographiei198-itv9.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie27"
              />
              <span
                class="coursdescriptionnonconncect-text199 Nunitosemib16CAP"
              >
                <span>€10</span>
              </span>
            </div>
            <button class="coursdescriptionnonconncect-secondarybutton2">
              <div class="coursdescriptionnonconncect-content08">
                <span class="coursdescriptionnonconncect-text201">
                  <span>Voir cours</span>
                </span>
              </div>
            </button>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-courscard2">
          <div class="coursdescriptionnonconncect-matimg2">
            <img
              src="/assets/external/iconographiei198-vjxb.svg"
              alt="IconographieI198"
              class="coursdescriptionnonconncect-iconographie28"
            />
          </div>
          <div class="coursdescriptionnonconncect-matcardtitle2">
            <span class="coursdescriptionnonconncect-text203 Nunito16bold">
              <span>Python</span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-frame112">
            <div class="coursdescriptionnonconncect-matcardsubtitle04">
              <span class="coursdescriptionnonconncect-text205 Nunitobold14">
                <span>Insy2s</span>
              </span>
              <div class="coursdescriptionnonconncect-matcardsubtitle05">
                <span class="coursdescriptionnonconncect-text207">
                  <span>4.5</span>
                </span>
                <div class="coursdescriptionnonconncect-rating2">
                  <div class="coursdescriptionnonconncect-matrating08">
                    <div class="coursdescriptionnonconncect-matbtn10">
                      <span class="coursdescriptionnonconncect-text209">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating09">
                    <div class="coursdescriptionnonconncect-matbtn11">
                      <span class="coursdescriptionnonconncect-text211">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating10">
                    <div class="coursdescriptionnonconncect-matbtn12">
                      <span class="coursdescriptionnonconncect-text213">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating11">
                    <div class="coursdescriptionnonconncect-matbtn13">
                      <span class="coursdescriptionnonconncect-text215">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matbtn14">
                    <span class="coursdescriptionnonconncect-text217">
                      <span>star</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-frame122">
            <div class="coursdescriptionnonconncect-frame205">
              <img
                src="/assets/external/iconographiei198-zcri.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie29"
              />
              <span class="coursdescriptionnonconncect-text219 Nunitobold14">
                <span>16h</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-chips4">
              <span class="coursdescriptionnonconncect-text221">
                <span>JUNIOR</span>
              </span>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext04">
            <span class="coursdescriptionnonconncect-text223">
              <span>
                Create computer programs or build the app of your dreams, you
                need to know how to code in a programming language.
              </span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext05">
            <div class="coursdescriptionnonconncect-frame212">
              <img
                src="/assets/external/iconographiei198-g40r.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie30"
              />
              <span
                class="coursdescriptionnonconncect-text225 Nunitosemib16CAP"
              >
                <span>€10</span>
              </span>
            </div>
            <button class="coursdescriptionnonconncect-secondarybutton3">
              <div class="coursdescriptionnonconncect-content09">
                <span class="coursdescriptionnonconncect-text227">
                  <span>Voir cours</span>
                </span>
              </div>
            </button>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-courscard3">
          <div class="coursdescriptionnonconncect-matimg3">
            <img
              src="/assets/external/iconographiei198-ct1n.svg"
              alt="IconographieI198"
              class="coursdescriptionnonconncect-iconographie31"
            />
          </div>
          <div class="coursdescriptionnonconncect-matcardtitle3">
            <span class="coursdescriptionnonconncect-text229 Nunito16bold">
              <span>SpringBoot</span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-frame113">
            <div class="coursdescriptionnonconncect-matcardsubtitle06">
              <span class="coursdescriptionnonconncect-text231 Nunitobold14">
                <span>Insy2s</span>
              </span>
              <div class="coursdescriptionnonconncect-matcardsubtitle07">
                <span class="coursdescriptionnonconncect-text233">
                  <span>4.5</span>
                </span>
                <div class="coursdescriptionnonconncect-rating3">
                  <div class="coursdescriptionnonconncect-matrating12">
                    <div class="coursdescriptionnonconncect-matbtn15">
                      <span class="coursdescriptionnonconncect-text235">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating13">
                    <div class="coursdescriptionnonconncect-matbtn16">
                      <span class="coursdescriptionnonconncect-text237">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating14">
                    <div class="coursdescriptionnonconncect-matbtn17">
                      <span class="coursdescriptionnonconncect-text239">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating15">
                    <div class="coursdescriptionnonconncect-matbtn18">
                      <span class="coursdescriptionnonconncect-text241">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matbtn19">
                    <span class="coursdescriptionnonconncect-text243">
                      <span>star</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-frame123">
            <div class="coursdescriptionnonconncect-frame206">
              <img
                src="/assets/external/iconographiei198-oiph.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie32"
              />
              <span class="coursdescriptionnonconncect-text245 Nunitobold14">
                <span>16h</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-chips5">
              <span class="coursdescriptionnonconncect-text247">
                <span>JUNIOR</span>
              </span>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext06">
            <span class="coursdescriptionnonconncect-text249">
              <span>
                Create computer programs or build the app of your dreams, you
                need to know how to code in a programming language.
              </span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext07">
            <div class="coursdescriptionnonconncect-frame213">
              <img
                src="/assets/external/iconographiei198-szyl.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie33"
              />
              <span
                class="coursdescriptionnonconncect-text251 Nunitosemib16CAP"
              >
                <span>€10</span>
              </span>
            </div>
            <button class="coursdescriptionnonconncect-secondarybutton4">
              <div class="coursdescriptionnonconncect-content10">
                <span class="coursdescriptionnonconncect-text253">
                  <span>Voir cours</span>
                </span>
              </div>
            </button>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-courscard4">
          <div class="coursdescriptionnonconncect-matimg4">
            <img
              src="/assets/external/iconographiei198-sjak.svg"
              alt="IconographieI198"
              class="coursdescriptionnonconncect-iconographie34"
            />
          </div>
          <div class="coursdescriptionnonconncect-matcardtitle4">
            <span class="coursdescriptionnonconncect-text255 Nunito16bold">
              <span>Complete Vue bootcamp</span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-frame114">
            <div class="coursdescriptionnonconncect-matcardsubtitle08">
              <span class="coursdescriptionnonconncect-text257 Nunitobold14">
                <span>Insy2s</span>
              </span>
              <div class="coursdescriptionnonconncect-matcardsubtitle09">
                <span class="coursdescriptionnonconncect-text259">
                  <span>4.5</span>
                </span>
                <div class="coursdescriptionnonconncect-rating4">
                  <div class="coursdescriptionnonconncect-matrating16">
                    <div class="coursdescriptionnonconncect-matbtn20">
                      <span class="coursdescriptionnonconncect-text261">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating17">
                    <div class="coursdescriptionnonconncect-matbtn21">
                      <span class="coursdescriptionnonconncect-text263">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating18">
                    <div class="coursdescriptionnonconncect-matbtn22">
                      <span class="coursdescriptionnonconncect-text265">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating19">
                    <div class="coursdescriptionnonconncect-matbtn23">
                      <span class="coursdescriptionnonconncect-text267">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matbtn24">
                    <span class="coursdescriptionnonconncect-text269">
                      <span>star</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-frame124">
            <div class="coursdescriptionnonconncect-frame207">
              <img
                src="/assets/external/iconographiei198-fqhd.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie35"
              />
              <span class="coursdescriptionnonconncect-text271 Nunitobold14">
                <span>16h</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-chips6">
              <span class="coursdescriptionnonconncect-text273">
                <span>GURU</span>
              </span>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext08">
            <span class="coursdescriptionnonconncect-text275">
              <span>
                Create computer programs or build the app of your dreams, you
                need to know how to code in a programming language.
              </span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext09">
            <div class="coursdescriptionnonconncect-frame214">
              <img
                src="/assets/external/iconographiei198-k4qg.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie36"
              />
              <span
                class="coursdescriptionnonconncect-text277 Nunitosemib16CAP"
              >
                <span>€10</span>
              </span>
            </div>
            <button class="coursdescriptionnonconncect-secondarybutton5">
              <div class="coursdescriptionnonconncect-content11">
                <span class="coursdescriptionnonconncect-text279">
                  <span>Voir cours</span>
                </span>
              </div>
            </button>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-courscard5">
          <div class="coursdescriptionnonconncect-matimg5">
            <img
              src="/assets/external/iconographiei198-7skb.svg"
              alt="IconographieI198"
              class="coursdescriptionnonconncect-iconographie37"
            />
          </div>
          <div class="coursdescriptionnonconncect-matcardtitle5">
            <span class="coursdescriptionnonconncect-text281 Nunito16bold">
              <span>Machine Learning</span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-frame115">
            <div class="coursdescriptionnonconncect-matcardsubtitle10">
              <span class="coursdescriptionnonconncect-text283 Nunitobold14">
                <span>Insy2s</span>
              </span>
              <div class="coursdescriptionnonconncect-matcardsubtitle11">
                <span class="coursdescriptionnonconncect-text285">
                  <span>4.5</span>
                </span>
                <div class="coursdescriptionnonconncect-rating5">
                  <div class="coursdescriptionnonconncect-matrating20">
                    <div class="coursdescriptionnonconncect-matbtn25">
                      <span class="coursdescriptionnonconncect-text287">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating21">
                    <div class="coursdescriptionnonconncect-matbtn26">
                      <span class="coursdescriptionnonconncect-text289">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating22">
                    <div class="coursdescriptionnonconncect-matbtn27">
                      <span class="coursdescriptionnonconncect-text291">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matrating23">
                    <div class="coursdescriptionnonconncect-matbtn28">
                      <span class="coursdescriptionnonconncect-text293">
                        <span>star</span>
                      </span>
                    </div>
                  </div>
                  <div class="coursdescriptionnonconncect-matbtn29">
                    <span class="coursdescriptionnonconncect-text295">
                      <span>star</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-frame125">
            <div class="coursdescriptionnonconncect-frame208">
              <img
                src="/assets/external/iconographiei198-t8yqp.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie38"
              />
              <span class="coursdescriptionnonconncect-text297 Nunitobold14">
                <span>16h</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-chips7">
              <span class="coursdescriptionnonconncect-text299">
                <span>AVANCÉ</span>
              </span>
            </div>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext10">
            <span class="coursdescriptionnonconncect-text301">
              <span>
                Create computer programs or build the app of your dreams, you
                need to know how to code in a programming language.
              </span>
            </span>
          </div>
          <div class="coursdescriptionnonconncect-matcardtext11">
            <div class="coursdescriptionnonconncect-frame215">
              <img
                src="/assets/external/iconographiei198-kar.svg"
                alt="IconographieI198"
                class="coursdescriptionnonconncect-iconographie39"
              />
              <span
                class="coursdescriptionnonconncect-text303 Nunitosemib16CAP"
              >
                <span>€10</span>
              </span>
            </div>
            <button class="coursdescriptionnonconncect-secondarybutton6">
              <div class="coursdescriptionnonconncect-content12">
                <span class="coursdescriptionnonconncect-text305">
                  <span>Voir cours</span>
                </span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
   
    
    <div class="coursdescriptionnonconncect-coursdescriptioncomp">
      <div class="coursdescriptionnonconncect-vbannercontent">
        <div class="coursdescriptionnonconncect-matbtn30">
          <div class="coursdescriptionnonconncect-iconographiecoursicon">
            <div class="coursdescriptionnonconncect-book5line1">
              <div class="coursdescriptionnonconncect-frame1">
                <div class="coursdescriptionnonconncect-education">
                  <div class="coursdescriptionnonconncect-book5line">
                    <img
                      src
                      alt="MingCuteI191"
                      class="coursdescriptionnonconncect-ming-cute"
                    />
                    <img
                      src="/assets/external/svgi191-oj89.svg"
                      alt="SVGI191"
                      class="coursdescriptionnonconncect-svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="coursdescriptionnonconncect-frame3">
          <div class="coursdescriptionnonconncect-textecard">
            <div class="coursdescriptionnonconncect-progressbar">
              <span class="coursdescriptionnonconncect-text343">
                <span>0%</span>
              </span>
              <img
                src="/assets/external/iconographiei191-y2q7.svg"
                alt="IconographieI191"
                class="coursdescriptionnonconncect-iconographie43"
              />
              <div class="coursdescriptionnonconncect-frame34">
                <div class="coursdescriptionnonconncect-progresselement"></div>
                <div
                  class="coursdescriptionnonconncect-progresselement01"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement02"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement03"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement04"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement05"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement06"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement07"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement08"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement09"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement10"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement11"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement12"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement13"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement14"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement15"
                ></div>
                <div
                  class="coursdescriptionnonconncect-progresselement16"
                ></div>
              </div>
              <img
                src="/assets/external/iconographiei191-ctd.svg"
                alt="IconographieI191"
                class="coursdescriptionnonconncect-iconographie44"
              />
            </div>
            <span class="coursdescriptionnonconncect-text345 Nunitowhite20">
              <span>Aperçu</span>
            </span>
            <span class="coursdescriptionnonconncect-text347">
              <span class="coursdescriptionnonconncect-text348">{{cours.nom}}</span>
              <span>
              {{cours.description}}
              </span>
            </span>
            <div class="coursdescriptionnonconncect-frame67">
              <div class="coursdescriptionnonconncect-frame35">
                <img
                  src="/assets/external/iconographiei191-ugl.svg"
                  alt="IconographieI191"
                  class="coursdescriptionnonconncect-iconographie45"
                />
                <span
                  class="coursdescriptionnonconncect-text350 Nunitotextbase16"
                >
                  <span>{{cours.dateDebut}}</span>
                </span>
              </div>
              <div class="coursdescriptionnonconncect-frame66">
                <img
                  src="/assets/external/iconographiei191-gua.svg"
                  alt="IconographieI191"
                  class="coursdescriptionnonconncect-iconographie46"
                />
                <span
                  class="coursdescriptionnonconncect-text352 Nunitotextbase16"
                >
                  <span>{{cours.dateFin}}</span>
                </span>
              </div>
            </div>
            <div class="coursdescriptionnonconncect-frame31">
              <img
                src="/assets/external/iconographiei191-eqai.svg"
                alt="IconographieI191"
                class="coursdescriptionnonconncect-iconographie47"
              />
              <span
                class="coursdescriptionnonconncect-text354 Nunitotextbase16"
              >
                <span>15 chapitres</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-frame33">
              <img
                src="/assets/external/iconographiei191-n69w.svg"
                alt="IconographieI191"
                class="coursdescriptionnonconncect-iconographie48"
              />
              <span
                class="coursdescriptionnonconncect-text356 Nunitotextbase16"
              >
                <span>Temps moyen : 16h</span>
              </span>
            </div>
            <div class="coursdescriptionnonconncect-frame341">
              <img
                src="/assets/external/iconographiei191-h25j.svg"
                alt="IconographieI191"
                class="coursdescriptionnonconncect-iconographie49"
              />
              <span
                class="coursdescriptionnonconncect-text358 Nunitotextbase16"
              >
                <span>2 projets associés</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

























