
<!--<div *ngIf="member">
  <ul>
    <li>
      <p><i>Image :</i> {{member.image}}{{member.image}}</p>
    </li>
    <li>
      <p><i>Nom :</i> {{member.firstName}}</p>
    </li>
    <li>
      <p><i>Prenom :</i> {{member.lastName}}</p>
    </li>
    <li>
      <p><i>Email :</i> {{member.email}}</p>
    </li>
    <li>
      <p><i>Lien Git :</i> {{member.gitLink}}</p>
    </li>
    <li>
      <p><i>Lien Drive :</i> {{member.driveLink}}</p>
    </li>
    <li>
      <p><i>Position:</i> {{member.positions[0]?.name}}</p>
    </li>
      
  </ul>
</div>
<button class="edit-btn" (click)="updateMember(member)"><i class='fas fa-pen'></i>Modifier</button>-->


<div class="container">
  <div class="main-body">
  
       
    <div *ngIf="member">
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{member.firstName}} {{member.lastName}}</h4>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">

                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                  <span class="text-secondary"> {{member.gitLink}} </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-drive mr-2 icon-inline">
                      <path d="M3 16l6-10h12l-6 10H3z"></path>
                      <line x1="6" y1="14" x2="6" y2="16"></line>
                      <line x1="10" y1="14" x2="10" y2="16"></line>
                      <line x1="14" y1="14" x2="14" y2="16"></line>
                    </svg>
                    Google Drive
                  </h6>
                  <span class="text-secondary">{{member.driveLink}}</span>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Nom</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.firstName}}
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Prenom</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.lastName}}
                  </div>
                </div>
                <hr>
                

                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.email}}
                  </div>
                </div>
                <hr>
                
                
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Position</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{member.positions[0]?.name}}
                    <!--Apprenant-->
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-lg" (click)="updateMember(member)">Modifier</button>
                  </div>
                  <div class="col-sm-6 text-right">
                    <button type="button" class="btn btn-primary btn-lg" routerLink="/addnotification">Ajouter une notification</button>
                  </div>
                </div>
                
              </div>
            </div>


          </div>
        </div>
        <div class="col-md-16 mb-3">
          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-primary btn-sm" (click)="showPayments()">Mes paiements</button>
              <app-list-payment-par-membre *ngIf="showPaymentList"></app-list-payment-par-membre>

             
            </div>
         
          </div>
        </div>

        <div class="col-md-16 mb-3">
          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-primary btn-sm" (click)="showProjects()">Mes projets</button>
              <app-list-projet-par-membre *ngIf="showProjectList"></app-list-projet-par-membre>

             
            </div>
         
          </div>
        </div>

        <div class="col-md-16 mb-3">
          <div class="card">
            <div class="card-body">
              <button type="button" class="btn btn-primary btn-sm" (click)="showCours()">Mes cours</button>
              <app-list-cours-par-membre *ngIf="showCoursList"></app-list-cours-par-membre>

             
            </div>
         
          </div>
        </div>
      <app-dashboard-projet></app-dashboard-projet>
      
    
      <div *ngFor="let badge of member.badges">
        <img [src]="badge.imageUrl" alt="{{ badge.name }}">
        <h3>{{ badge.name }}</h3>
        <p>{{ badge.description }}</p>
      </div>

      
  
      </div>
