<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
                <div class="card">
                    <h4 class="card-header center text-primary">Discuter avec Mr.Bot de E-learning</h4>
                    <div class="card-body">
                        <h6 class="card-title text-success center">Discuter maintenant</h6>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">

                                <br>
                                    <textarea row="3" cols="15" class="form-control" [(ngModel)]="promptText" placeholder="Comment je peux vous aider "></textarea>
                                    <br>
                                        <button class="btn btn-primary push-right" (click)="checkResponse()">Send</button>
                                    </div>
                                    <div class="col-md-2">
                                      
                                    </div>
                                </div>
                                <div class="frame-box">
                                    <div *ngFor="let item of chatConversation">
                                        <p class="card-text padding" [ngClass]="item.cssClass">
                                            {{item.person}} :  {{getText(item.response)}}                                                                                                            
                                        </p>
                                        
                                    </div>
                                    <div *ngIf="showSpinner">  </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            