<div style="width: 40px; height: 776px; background: #F9F9F9">

  
  <div style="width: 1440px; height: 550px; left: 0px; top: 146px; position: absolute">
    <div style="width: 1440px; height: 550px; left: 0px; top: 0px; position: absolute">

      <div style="width: 1520px; height: 550px; left: 0px; top: 0px; position: absolute; background: linear-gradient(267deg, rgba(38, 198, 218, 0.40) 0%, rgba(253, 216, 53, 0.40) 100%)"></div>
    </div>
    <div style="width: 443px; height: 361px; left: 924px; top: 94px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: inline-flex">
      <div style="width: 392px"><span style="color: white; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">Remontez vos compétences de travail en équipe avec un </span><span style="color: #00838F; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">projet en mode</span><span style="color: white; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word"> </span><span style="color: #00838F; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">Agile</span></div>
      <div style="width: 480px"><span style="color: white; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">Améliorez la performance sur un nouvel outil dans un </span><span style="color: #00838F; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">environnement interactif et pratique.</span></div>
      <div style="width: 431px"><span style="color: white; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">Apprenez des instructeurs experts avec des exercices, des vidéos et notre </span><span style="color: #00838F; font-size: 24px; font-family: Nunito; font-weight: 700; word-wrap: break-word">forum de discussion AI.</span></div>
    </div>
    <div style="width: 192px; height: 36px; padding-left: 16px; padding-right: 16px; left: 80px; top: 245px; position: absolute; background: #26C6DA; border-radius: 4px; justify-content: center; align-items: center; display: inline-flex">
      <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
        <div style="text-align: center; color: white; font-size: 12px; font-family: Nunito; font-weight: 700; text-transform: uppercase; line-height: 32px; ">explorez les projets</div>
      </div>
    </div>
    <div style="width: 629px; left: 78px; top: 100px; position: absolute; color: #424242; font-size: 24px; font-family: Nunito Sans; font-weight: 700; word-wrap: break-word">Travaillez de vrais projets et rejoignez notre communauté de développeurs pour coder, s'entraident et s'améliorer.</div>
    <div style="left: 80px; top: 43px; position: absolute; color: #00838F; font-size: 24px; font-family: Nunito Sans; font-weight: 700; text-transform: uppercase; word-wrap: break-word">PROJETS </div>
  </div>
  
  <div style="width: 126px; height: 36px; padding: 8px; left: 80px; top: 784px; position: absolute; border-radius: 4px; border: 0.50px #26C6DA solid; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
    <div style="width: 52px; align-self: stretch; justify-content: center; align-items: center; gap: 8px; display: flex">
      <div style="text-align: center; color: #26C6DA; font-size: 12px; font-family: Nunito; font-weight: 600; text-transform: uppercase; line-height: 36px; letter-spacing: 1px; word-wrap: break-word">FILTRER</div>
    </div>
 
  </div>

  <div style="left: 80px; top: 741px; position: absolute; color: #424242; font-size: 16px; font-family: Nunito; font-weight: 700; line-height: 24px; word-wrap: break-word">Recherchez un projet </div>

</div>
      <div class="panel panel-primary">
        <div class="panel-body">
         
        
            
          <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">
            <thead>
              <div class="search-container">
                <input type="text" [(ngModel)]="searchQuery" (input)="search()" placeholder="Search...">
                <button type="button" id="search-btn" style='margin-right: 12px; background-color: #26C6DA;'>Recherche</button>
              </div>
            </thead>
            <button style='margin-right: 12px; background-color: #26C6DA;' class="btn btn-large btn-animated" [routerLink]="['/createprojet']">Ajouter Projet !</button>
            <div style="display: flex; flex-direction: column; gap: 20px;">
              <div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
                <!-- Affichage des projets -->
                <div *ngFor="let projet of projets" style="width: 500px; height: 480px; box-shadow: 1px 1px 4px rgba(38, 198, 218, 0.16); border-radius: 4px; overflow: hidden; border: 0.50px white solid; justify-content: center; align-items: center; display: inline-flex;">
                  <!-- Le contenu de chaque projet -->
                  <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex;">
                
  <div style="align-self: stretch; height: 72px; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: white; justify-content: flex-start; align-items: flex-end; display: inline-flex">
  <div style="flex: 1 1 0; height: 52px; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex;">
    <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex;">
      <div style="align-self: stretch; color: #00838F; font-size: 16px; font-family: Nunito; font-weight: 700; line-height: 24px; word-wrap: break-word;">{{projet.description}}</div>
      <div style="width: 137px; color: #616161; font-size: 16px; font-family: Nunito; font-weight: 700; line-height: 24px; word-wrap: break-word;">Développement</div>
      
    </div>
  </div>
 
   <!-- Section avec le titre et la description -->
   <div style="height: 52px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
      <div style="width: 24px; height: 24px; position: relative">
        <div style="width: 2px; height: 14px; left: 11px; top: 5px; position: absolute; border: 1px #00838F solid"></div>
      </div>
    </div>
    <div style="color: #424242; font-size: 14px; font-family: Nunito Sans; font-weight: 700; word-wrap: break-word">6 participants</div>
  </div>
  </div>
  <div style="width: 500px; height: 180px; justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 500px; height: 188px; position: relative; overflow: hidden;">
        <img style="width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0px; top: 0px;" src="https://pro-it-consulting.com/wp-content/uploads/2021/10/developpement-web-featured.jpg" alt="Image 1" />
        <img style="width: 100%; height: 100%; object-fit: cover; position: absolute; left: 0px; top: -176px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcP02ckPJGdHmLqVXv9NK9Z2Uf-Q04Lv3QXt5TzG2zykZr7EAfYMf_M571HfT6vlwy93Y&usqp=CAU" alt="Image 2" />
    </div>
</div>

                 
                    <!-- Informations supplémentaires sur le projet -->
                    <div style="align-self: stretch; height: 220px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex;">
                      <div style="align-self: stretch; justify-content: flex-start; align-items: center; display: inline-flex;">
                        <div style="width: 328px; color: #424242; font-size: 16px; font-family: Nunito; font-weight: 700; line-height: 24px; word-wrap: break-word;">CRM app for booking </div>
                      </div>
                      <div style="width: 472px; justify-content: space-between; align-items: center; gap: 24px; display: inline-flex;">
                        <div style="height: 19px; justify-content: flex-start; align-items: center; display: flex;">
                          <div style="width: 162px; color: #424242; font-size: 14px; font-family: Nunito Sans; font-weight: 700; word-wrap: break-word;">HTML CSS JS API</div>
                        </div>
                        <div style="padding-left: 12px; padding-right: 12px; padding-top: 2px; padding-bottom: 2px; border-radius: 12px; overflow: hidden; border: 0.50px #FDD835 solid; justify-content: center; align-items: center; gap: 6px; display: flex;">
                          <div style="text-align: center; color: #FDD835; font-size: 12px; font-family: Roboto; font-weight: 400; line-height: 20px; word-wrap: break-word;">DÉBUTANT</div>
                        </div>
                      </div>
                      <div style="align-self: stretch; text-align: justify; color: #616161; font-size: 16px; font-family: Nunito; font-weight: 400; line-height: 24px; word-wrap: break-word;">In this project, you'll integrate with the Dictionary API to create a real-bookin application using the framework of your preference. Additional tests include colour themes and font selection.</div>
                      <div style="display: flex; justify-content: center; gap: 12px; margin-bottom: 16px;">
                        <button style="font-size: 12px; background-color: #26C6DA; color: white; padding: 8px 16px; border: none; border-radius: 4px;">
                          <a [routerLink]="['/detail/', projet.idProjet]" style="color: white; text-decoration: none;">Les Détails <i class="fa fa-angle-right"></i></a>
                        </button>
                        <button style="font-size: 12px; padding: 8px 16px; border: 1px solid #26C6DA; border-radius: 4px;">
                          <a (click)="updateProjet(projet.idProjet)" style="color: #26C6DA; text-decoration: none;">Modifier</a>
                        </button>
                        <button style="font-size: 12px; background-color: #26C6DA; color: white; padding: 8px 16px; border: none; border-radius: 4px;" [disabled]="projet.demarre">
                          <a (click)="startProjet(projet.idProjet)" style="color: white; text-decoration: none;">Lancer <i class="fa fa-angle-right"></i></a>
                        </button>
                        <button style="font-size: 12px; padding: 8px 16px; border: 1px solid #26C6DA; border-radius: 4px;">
                          <a (click)="suiviProjet(projet.idProjet)" style="color: #26C6DA; text-decoration: none;">Suivi</a>
                        </button>
                        <button style="font-size: 12px; background-color: #26C6DA; color: white; padding: 8px 16px; border: none; border-radius: 4px;">
                          <a (click)="deactiverProjet(projet.idProjet)" style="color: white; text-decoration: none;">Désactiver</a>
                        </button>
                      </div>
                      
                      <div style="align-self: stretch; justify-content: flex-end; align-items: center; display: inline-flex">
                        <div style="width: 119px; padding-left: 16px; padding-right: 16px; background: white; border-radius: 4px; border: 0.50px #26C6DA solid; justify-content: center; align-items: center; display: flex">
                          <div style="justify-content: center; align-items: center; gap: 8px; display: flex">
                            <div style="text-align: center; color: #26C6DA; font-size: 12px; font-family: Nunito; font-weight: 700; text-transform: uppercase; line-height: 32px; letter-spacing: 1px; word-wrap: break-word">voir projet</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <!-- Affichage des problèmes -->
              <table *ngIf="problemes" style="width: 500px; border: 1px solid #00838F;">
                <tbody>
                  <tr *ngFor="let probleme of problemes" style="border: 1px solid #00838F;">
                    <td style="padding: 8px; color: #424242; font-size: 14px; font-family: Nunito Sans; font-weight: 700; word-wrap: break-word">{{probleme.description}}</td>
                  </tr>
                </tbody>
              </table>
              
            </div>
            
          </table>
        </div>
      </div>
      


