
    
    <h2>Ajouter un projet</h2>
    
    <form (ngSubmit)="onSubmit()">
    
      <div class="form-group">
        <label for="name">Nom :</label>
        <textarea id="name" class="form-control" name="name" [(ngModel)]="projet.name"
        ></textarea>
      </div>
    
    
      <div class="form-group">
        <label for="description">Description :</label>
        <textarea id="description" class="form-control" name="description" [(ngModel)]="projet.description"
        ></textarea>
      </div>
    
      
    
      <div class="form-group">
        <label for="cours">Cours :</label>
        <select id="cours" class="form-control" name="cours" [(ngModel)]="projet.cours" >
          <option *ngFor="let cours of coursList" [ngValue]="cours" >{{ cours.nom }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="cours">Theme :</label>
        <select id="cours" class="form-control" name="theme" [(ngModel)]="projet.themeId" >
          <option *ngFor="let theme of listtheme" [ngValue]="theme.idTheme" >{{ theme.nom }}</option>
        </select>
      </div>
    
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
    