<footer>
    <div class="footer-container">
       <div class="name-app">E-LEARNING</div>
   
       <div class="stay-updated">
   
         <div class="update-label">Restez à jour</div>
         <div class="email-input">
           <div class="input-label">Adresse émail</div>
         </div>
       </div>
       <div class="footer-links">
         <div class="links-column">
           <div class="link-item">INSY2S</div>
           <div class="link-item">CGU/CGV</div>
           <div class="link-item">Politique de confidentialité</div>
           <div class="link-item">Besoin d’aide</div>
         </div>
         <div class="links-column">
           <div class="link-item">Cours</div>
           <div class="link-item">Projets</div>
           <div class="link-item">Certifications</div>
           <div class="link-item">Séances</div>
         </div>
         <div class="contact-column">
           <div class="contact-label">Nous contacter</div>
           <div class="contact-info">
             <div class="icon">
               <div class="icon-placeholder"></div>
             </div>
             <div class="info-text">
               <div class="info-label">Nous contacter</div>
               <div class="info-value">academy@insy2s.fr</div>
             </div>
           </div>
           <div class="contact-info">
             <div class="icon">
               <div class="icon-placeholder"></div>
             </div>
             <div class="info-text">
               <div class="info-label">Notre agence</div>
               <div class="info-value">La manufacture, 3 Rue du Dr Huart, 59260 Lille</div>
             </div>
           </div>
         </div>
       </div>
     </div>
     
   </footer>